*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: face;
}

li {
    list-style-type: none;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: face;
    src: url(../font/Poppins-Regular.ttf);
}